name: Build Monkey

on:
  push:
    branches: [main]

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"

      - name: Compile
        run: cd src/monkey && go build

      - name: Lexer testing
        run: go test ./src/monkey/lexer

      - name: Parser testing
        run: go test ./src/monkey/parser

      - name: AST testing
        run: go test ./src/monkey/ast
